body {
    background: #010409;
}

* {
    margin: 0;
    padding: 0;
}


/*#161b22*/

.btn {
    position: relative;
    left: 1500px;
}

.vl {
    /*Горизантальная линия*/
    position: absolute;
    border-left: 4px solid #30363d;
    height: 488px;
    left: 220px;
}

#result {
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 94%, rgba(153, 69, 252, 1) 100%);
    bottom: 100px;
    height: 100px;
    width: 100px;
    color: #fff;
    border-radius: 5px 5px 5px 5px;
    font-size: 25px;
    font-weight: 500;
    /*РЕЗУЛЬТАТ*/
}

.button-64 {
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    bottom: 100px;
}

.button-64:active,
.button-64:hover {
    outline: 0;
}

.button-64 span {
    background-color: rgb(5, 6, 45);
    padding: 35px 38px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.button-64:hover span {
    background: none;
}

@media (min-width: 768px) {
    .button-64 {
        font-size: 24px;
        min-width: 196px;
    }
}

.main {
    display: flex;
}